{{- $flatcar := .Values.flatcarCluster -}}
{{- $namespace := include "kubevirt-flatcar.namespace" . -}}
{{- $clusterName := $flatcar.name -}}
{{- $versionSlug := replace "." "-" $flatcar.kubernetesVersion -}}
{{- $controlPlaneTemplate := printf "%s-control-plane-%s" $clusterName $versionSlug -}}
{{- $machineDeploymentName := printf "%s-md-0" $clusterName -}}
{{- $workerTemplate := printf "%s-md-0-%s" $clusterName $versionSlug -}}
{{- $dnsDomain := $flatcar.dnsDomain | default (printf "%s.%s.local" $clusterName $namespace) -}}
apiVersion: cluster.x-k8s.io/v1beta1
kind: Cluster
metadata:
  name: {{ $clusterName }}
  namespace: {{ $namespace }}
spec:
  clusterNetwork:
    pods:
      cidrBlocks:
        - {{ $flatcar.podCIDR | quote }}
    services:
      cidrBlocks:
        - {{ $flatcar.serviceCIDR | quote }}
  infrastructureRef:
    apiVersion: infrastructure.cluster.x-k8s.io/v1alpha1
    kind: KubevirtCluster
    name: {{ $clusterName }}
    namespace: {{ $namespace }}
  controlPlaneRef:
    apiVersion: controlplane.cluster.x-k8s.io/v1beta1
    kind: KubeadmControlPlane
    name: {{ printf "%s-control-plane" $clusterName }}
    namespace: {{ $namespace }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1alpha1
kind: KubevirtCluster
metadata:
  name: {{ $clusterName }}
  namespace: {{ $namespace }}
spec:
  controlPlaneServiceTemplate:
    spec:
      type: {{ $flatcar.controlPlaneServiceType | default "ClusterIP" }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1alpha1
kind: KubevirtMachineTemplate
metadata:
  name: {{ $controlPlaneTemplate }}
  namespace: {{ $namespace }}
spec:
  template:
    spec:
      virtualMachineBootstrapCheck:
        checkStrategy: ssh
      virtualMachineTemplate:
        metadata:
          namespace: {{ $namespace }}
        spec:
          instancetype:
            kind: VirtualMachineClusterInstancetype
            name: {{ $flatcar.instanceType }}
          preference:
            kind: VirtualMachineClusterPreference
            name: {{ $flatcar.instancePreference }}
          dataVolumeTemplates:
          - metadata:
              name: boot-volume
            spec:
              pvc:
                volumeMode: Block
                accessModes:
                - ReadWriteOnce
                resources:
                  requests:
                    storage: {{ $flatcar.rootVolumeSize | quote }}
                storageClassName: {{ $flatcar.storageClassName }}
              source:
                http:
                  url: {{ $flatcar.flatcarImageURL }}
          runStrategy: Always
          template:
            spec:
              domain:
                devices:
                  networkInterfaceMultiqueue: true
                  disks:
                  - disk:
                      bus: virtio
                    name: dv-volume
              evictionStrategy: External
              volumes:
              - dataVolume:
                  name: boot-volume
                name: dv-volume
---
apiVersion: controlplane.cluster.x-k8s.io/v1beta1
kind: KubeadmControlPlane
metadata:
  name: {{ printf "%s-control-plane" $clusterName }}
  namespace: {{ $namespace }}
spec:
  replicas: {{ $flatcar.controlPlaneMachineCount }}
  machineTemplate:
    infrastructureRef:
      apiVersion: infrastructure.cluster.x-k8s.io/v1alpha1
      kind: KubevirtMachineTemplate
      name: {{ $controlPlaneTemplate }}
      namespace: {{ $namespace }}
  kubeadmConfigSpec:
    format: ignition
    files: []
    ignition:
      containerLinuxConfig:
        additionalConfig: |
          systemd:
            units:
            - name: kubeadm.service
              enabled: true
              dropins:
              - name: 10-flatcar.conf
                contents: |
                  [Unit]
                  Requires=containerd.service
                  After=containerd.service
    users:
    - name: core
      sshAuthorizedKeys:
      - {{ $flatcar.sshAuthorizedKey | quote }}
    clusterConfiguration:
      networking:
        dnsDomain: {{ $dnsDomain | quote }}
        podSubnet: {{ $flatcar.podCIDR | quote }}
        serviceSubnet: {{ $flatcar.serviceCIDR | quote }}
    initConfiguration:
      nodeRegistration:
        criSocket: /var/run/containerd/containerd.sock
    joinConfiguration:
      nodeRegistration:
        criSocket: /var/run/containerd/containerd.sock
  version: {{ $flatcar.kubernetesVersion | quote }}
---
apiVersion: infrastructure.cluster.x-k8s.io/v1alpha1
kind: KubevirtMachineTemplate
metadata:
  name: {{ $workerTemplate }}
  namespace: {{ $namespace }}
spec:
  template:
    spec:
      virtualMachineBootstrapCheck:
        checkStrategy: ssh
      virtualMachineTemplate:
        metadata:
          namespace: {{ $namespace }}
          labels:
            app: {{ $workerTemplate }}
        spec:
          instancetype:
            kind: VirtualMachineClusterInstancetype
            name: {{ $flatcar.instanceType }}
          preference:
            kind: VirtualMachineClusterPreference
            name: {{ $flatcar.instancePreference }}
          dataVolumeTemplates:
          - metadata:
              name: boot-volume
            spec:
              pvc:
                volumeMode: Block
                accessModes:
                - ReadWriteOnce
                resources:
                  requests:
                    storage: {{ $flatcar.rootVolumeSize | quote }}
                storageClassName: {{ $flatcar.storageClassName }}
              source:
                http:
                  url: {{ $flatcar.flatcarImageURL }}
          runStrategy: Always
          template:
            metadata:
              labels:
                app: {{ $workerTemplate }}
            spec:
{{- if $flatcar.workerAntiAffinity }}
              affinity:
                podAntiAffinity:
                  preferredDuringSchedulingIgnoredDuringExecution:
                  - weight: 100
                    podAffinityTerm:
                      labelSelector:
                        matchExpressions:
                        - key: app
                          operator: In
                          values:
                          - {{ $workerTemplate }}
                      topologyKey: kubernetes.io/hostname
{{- end }}
              domain:
                devices:
                  networkInterfaceMultiqueue: true
                  disks:
                  - disk:
                      bus: virtio
                    name: dv-volume
              evictionStrategy: External
              volumes:
              - dataVolume:
                  name: boot-volume
                name: dv-volume
---
apiVersion: bootstrap.cluster.x-k8s.io/v1beta1
kind: KubeadmConfigTemplate
metadata:
  name: {{ $machineDeploymentName }}
  namespace: {{ $namespace }}
spec:
  template:
    spec:
      joinConfiguration:
        nodeRegistration:
          kubeletExtraArgs: {}
      files: []
      format: ignition
      ignition:
        containerLinuxConfig:
          additionalConfig: |
            systemd:
              units:
              - name: kubeadm.service
                enabled: true
                dropins:
                - name: 10-flatcar.conf
                  contents: |
                    [Unit]
                    Requires=containerd.service
                    After=containerd.service
      users:
      - name: core
        sshAuthorizedKeys:
        - {{ $flatcar.sshAuthorizedKey | quote }}
---
apiVersion: cluster.x-k8s.io/v1beta1
kind: MachineDeployment
metadata:
  name: {{ $machineDeploymentName }}
  namespace: {{ $namespace }}
spec:
  clusterName: {{ $clusterName }}
  replicas: {{ $flatcar.workerMachineCount }}
  selector:
    matchLabels:
      cluster.x-k8s.io/deployment-name: {{ $machineDeploymentName }}
  template:
    metadata:
      labels:
        cluster.x-k8s.io/deployment-name: {{ $machineDeploymentName }}
        node-role.kubernetes.io/worker: ""
    spec:
      clusterName: {{ $clusterName }}
      version: {{ $flatcar.kubernetesVersion | quote }}
      bootstrap:
        configRef:
          apiVersion: bootstrap.cluster.x-k8s.io/v1beta1
          kind: KubeadmConfigTemplate
          name: {{ $machineDeploymentName }}
          namespace: {{ $namespace }}
      infrastructureRef:
        apiVersion: infrastructure.cluster.x-k8s.io/v1alpha1
        kind: KubevirtMachineTemplate
        name: {{ $workerTemplate }}
        namespace: {{ $namespace }}
---
apiVersion: cluster.x-k8s.io/v1beta1
kind: MachineHealthCheck
metadata:
  name: {{ printf "%s-control-plane" $clusterName }}
  namespace: {{ $namespace }}
spec:
  clusterName: {{ $clusterName }}
  maxUnhealthy: 40%
  nodeStartupTimeout: 10m
  selector:
    matchLabels:
      cluster.x-k8s.io/control-plane-name: {{ printf "%s-control-plane" $clusterName }}
  unhealthyConditions:
  - type: Ready
    status: Unknown
    timeout: 300s
  - type: Ready
    status: "False"
    timeout: 300s
---
apiVersion: cluster.x-k8s.io/v1beta1
kind: MachineHealthCheck
metadata:
  name: {{ $machineDeploymentName }}
  namespace: {{ $namespace }}
spec:
  clusterName: {{ $clusterName }}
  maxUnhealthy: 100%
  nodeStartupTimeout: 10m
  selector:
    matchLabels:
      cluster.x-k8s.io/deployment-name: {{ $machineDeploymentName }}
  unhealthyConditions:
  - type: Ready
    status: Unknown
    timeout: 300s
  - type: Ready
    status: "False"
    timeout: 300s
